﻿@{
    ViewBag.Title = "Contact";
}


<address>
   <h2>Marcos antonio andujar</h2>
    <h3>Analista Desarrollador</h3>
    <h4>marcos-andujar@hotmail.com \ 849-875-0414</h4>
</address>

<address>
    <ul>
        <li>C# mvc asp.net</li>
        <li>sql server</li>
        <li>Angular js</li>
        <li>Angular 2.x</li>
        <li>html5</li>
        <li>jquery</li>
        <li>javaScript</li>
        <li>ionic framework</li>

    </ul>
</address>