﻿@model Entrevista_khensysCO.Models.permisos

@{
    ViewBag.Title = "crear Permisos";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>permisos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" >Nombre Empleado</label>
            <div class="col-md-10">
                <input type="text" class = "form-control" name="NombreEmpleado" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Apellido Empleado</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="ApellidoEmpleado" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Tipo Permiso</label>
            <div class="col-md-10">
                @Html.DropDownList("TipoPermiso", (IEnumerable<SelectListItem>)ViewBag.TipoPermiso, htmlAttributes: new { @class = "form-control"})

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Fecha Permiso</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="FechaPermiso" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
