﻿@model IEnumerable<Entrevista_khensysCO.Models.TipoPermiso>

@{
    ViewBag.Title = "Permisos";
}

<h2>Permisos</h2>

<p>
    @Html.ActionLink("Nuevo", "CrearTipoPermisos")
</p>
<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
         @item.Id
    </td>
    <td>
        @item.Descripcion
    </td>
    <td>
      
    </td>
</tr>
}

</table>
