﻿@model IEnumerable<Entrevista_khensysCO.Models.permisos>

@{
    ViewBag.Title = "Permisos";
}

<h2>Permisos</h2>

<p>
    @Html.ActionLink("Solicitar Permiso", "crearPermisos")
</p>
<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre Empleado
        </th>
        <th>
            Apellido Empleado
        </th>
        <th>
            Tipo Permiso
        </th>
        <th>
            Fecha
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Id
    </td>
    <td>
        @item.NombreEmpleado
    </td>
    <td>
        @item.ApellidoEmpleado
    </td>
    <td>
        @item.TipoPermiso1.Descripcion
    </td>
    <td>
        @item.FechaPermiso.ToShortDateString()
    </td>
    <td>
        @Html.ActionLink("Eliminar", "eliminarPermiso", new {Id= item.Id})
    </td>
</tr>
    }

</table>
